html{
  background-color: black;
}

body {
  padding-bottom: 70px; 
  background-color: black !important;
  color:#989898;
}

.navbar-default {
    background-color: black;
    border-color: #333;
}

.navbar-brand{
  font-size: 22px;
  font-weight: bold;
  
  background: -webkit-linear-gradient(left, red, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: ani;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {letter-spacing: -2px;}
  to {letter-spacing: 3px;}
}

/* Standard syntax */
/*@keyframes example {
   from {letter-spacing: -2px}
  to {letter-spacing: 3px;}
}*/

@keyframes ani {
  0% {
    letter-spacing: -2px;
  }
  50% {
    letter-spacing: -3px;
  }
  100% {
    letter-spacing: -2px;
  }
}

@-webkit-keyframes example {
  0% {
    letter-spacing: -2px;
  }
  50% {
    letter-spacing: -3px;
  }
  100% {
    letter-spacing: -2px;
  }
}


